{{!-- {{#if openloginmodal}} 
  <script type="text/javascript">$("#noteModal").modal('show');</script>
{{/if}} --}}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/savedArticles">Saved Articles</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div id="header-jumbotron" class="jumbotron jumbotron-fluid">
  <h1 class="text-center"> Welcome to News Break </h1>
</div>

{{!-- This block will only be shown if there are no stories loaded yet --}}
{{#unless articles}}
<div id="no-stories" class="jumbotron jumbotron-fluid">
  <h1 class="text-center"> There are no stories saved in database. {{title}}</h1>

  <div class="form-row text-center" id="load-stories">
    <div class="col-12">
        <button type="submit" class="btn btn-primary" id="load-stories-btn">Load Stories</button>
    </div>
   </div>
</div>
{{/unless}}


{{!-- This block displays the articles from the database --}}
<div class="container-fluid">
{{#each articles}}
  <div class="row title-row">
    <div class = "col-sm-8">
      <h2>{{title}}</h2>
    </div>
    <div class = "col-sm-2">
        <button type="submit" class="btn btn-primary del-article-btn" data-id="{{_id}}" >Delete Article</button>
    </div>
    {{!-- <div class = "col-sm-2">
        <button type="button" class="btn btn-primary" id="get-notes-btn" data-id="{{_id}}">Add Note</button>
    </div> --}}
    <div class = "col-sm-2">
        <button type="button" class="btn btn-primary" id="get-notes-btn" data-toggle="modal" data-target="#noteModal" data-id="{{_id}}">Add Note</button>
    </div>
  </div>
<a href="https://www.nhl.com/{{link}}" target="_blank">
  <div class="row">
    <div class = "col-sm-12">
      <h4>{{summary}}</h4>
    </div>
  </div>
</a>
{{/each}}
</div>

{{!-- This is modal for adding notes --}}
<div class="modal"  id="noteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notes for {{id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      {{!-- Show the saved notes --}}
      <div class="modal-body">

        <ul class="list-group note-container">
        </ul>

        {{!-- {{#each notes}} --}}
        {{!-- <div class="row">
          <div class="col-sm-11">
            <p>{{body}}</p>
           </div>
          <div class="col-sm-1">
            <span class="oi oi-x"></span>
           </div>
        </div> --}}
        {{!-- {{/each}} --}}
        {{!-- Add an input for new notes --}}
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Note:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save-note-btn">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

